// Main Style
// For all pages

.color-red {color: #D60000;}
.color-green {color: $color-green;}
.badge {margin: 0 0.4rem;}
.font-bold, strong {font-weight: bold;}
td {font-size: 0.75rem;}
td:nth-child(2) {text-align: left;}
.ltrr {direction: ltr !important; text-align: right;}
.expanded .row {max-width: $global-width;}

a {transition:all 0.1s ease-in-out;}

.clear-space {margin-bottom: 1rem;}


.lang {
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    left:0;
    display: inline-block;
    padding: 2px 5px 0px;
    margin: 25px 20px;
        a{
            color: darken(#3987a2, 20%);
        }
    }

@for $i from 1 through 10 {
    .img-#{$i}0 {width: $i*10+%; max-width: $i*10+%;}

    @include breakpoint(large) {
        .img-#{$i}0 {width: $i*12+%; max-width: $i*12+%;}
    }    

    @include breakpoint(medium down) {
        .img-#{$i}0 {width: $i*10+%; max-width: $i*10+%;}
    }    

}

@for $i from 1 through 8 {
    .padding-tb-#{$i} {
        padding-top: $i+rem;
        padding-bottom: $i+rem;
    }    
    .padding-t-#{$i} {
        padding-top: $i+rem;
    }    
    .padding-b-#{$i} {
        padding-bottom: $i+rem;
    }    
    .padding-r-#{$i} {
        padding-right: $i+rem;
    }    
    .padding-l-#{$i} {
        padding-left: $i+rem;
    }    
    .padding-rl-#{$i} {
        padding-right: $i+rem;
        padding-left: $i+rem;
    }    
    .padding-#{$i} {
        padding: $i+rem;
    }
    .margin-tb-#{$i} {
        margin-top: $i+rem;
        margin-bottom: $i+rem;
    }    
    .margin-t-#{$i} {
        margin-top: $i+rem;
    }    
    .margin-b-#{$i} {
        margin-bottom: $i+rem;
    }    
    .margin-r-#{$i} {
        margin-right: $i+rem;
    }    
    .margin-l-#{$i} {
        margin-left: $i+rem;
    }    
    .margin-rl-#{$i} {
        margin-right: $i+rem;
        margin-left: $i+rem;
    }    
    .margin-#{$i} {
        margin: $i+rem;
    }

}

.padding-off {padding:0;}
.margin-off {margin:0;}


// Header Style 
.plan-one {background-color: $high-light-gray;}

.bg-white {background-color: #FDFDFD;}

.coderconf {

    background: #3987a2;
    background: -moz-linear-gradient(top, #3987a2 0%, #3987a2 46%, #3d9bbd 73%, #6bcff5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3987a2), color-stop(46%, #3987a2), color-stop(73%, #3d9bbd), color-stop(100%, #6bcff5));
    background: -webkit-linear-gradient(top, #3987a2 0%, #3987a2 46%, #3d9bbd 73%, #6bcff5 100%);
    background: -o-linear-gradient(top, #3987a2 0%, #3987a2 46%, #3d9bbd 73%, #6bcff5 100%);
    background: -ms-linear-gradient(top, #3987a2 0%, #3987a2 46%, #3d9bbd 73%, #6bcff5 100%);
    background: linear-gradient(to bottom, #3987a2 0%, #3987a2 46%, #3d9bbd 73%, #6bcff5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3987a2', endColorstr='#6bcff5', GradientType=0 );

    &:after {

            background: url(../img/coderconf.png) top center no-repeat;
            background-size: auto 100%;
            content: " ";
            display: block;
            min-height: 800px;

    }
}

.section-end {
    background-color: transparent;
    &.after-header {
        path {
            fill: #6bcff5;
            stroke: #6bcff5;
        }
    }
    &.after-date-time {
        path {
            fill: #FDFDFD;
            stroke: #FDFDFD;
        }

    }
    &.after-enddd {
        path {
            fill: $high-light-gray;
            stroke: $high-light-gray;
        }

    }
}

h1.conf-title {
    font-size: 1.5rem;
    font-weight: bold;
}


.conf-date{
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.register {
    padding-top:1rem;
    .button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 4rem;
    }
    .early-bird {
        font-size: 1.5rem;
        small {font-size: 0.8rem;}
    }
    .late {
        font-size: 0.7rem;
        color: #666;
        font-weight: bold;
    }
}




#juror {
    .columns {
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition:all 0.2s ease-in-out;
        &:hover {padding-top: 0.6rem; transition:all 0.2s ease-in-out;}
                a {
            color: #065063;
            &:hover {
                color: darken(#065063, 10);
            }
        }
    }
    .juror-title {
        margin-bottom: 2rem;
    }
    .juror-name {
        margin-top: 0.4rem;
        font-size: 1.2rem;
    }    
    img {
        border: 3px dashed #999;
        width: 80%;
        padding:0.3rem;
        border-radius: 100%;
        height: auto;
    }
}

.sponsor {
    .columns {
        padding-bottom: 2rem;
    }
}

.media-sponsor {
    .columns {
        padding-bottom: 2rem;
        // img {max-width:60%;}
    }
}

.master{
        a {
            color: #065063;
            &:hover {color: darken(#065063, 10);}
        }
        img {
        border: 3px dashed #999;
        width: 100%;
        padding:0.3rem;
        border-radius: 100%;
        height: auto;
    }
}



$conf-panel-gray: #EBEBEB;
#conf-panel {
    background-color: $conf-panel-gray;
}
.conf-panel {
    background-color: transparent;
    &.before {
        path {
            fill: #FDFDFD;
            stroke: #FDFDFD;
        }
    }
    &.after {
        path {
            fill: $conf-panel-gray;
            stroke: $conf-panel-gray;
        }
    }
}




@for $i from 1 through 8 {
    .font-size-#{$i} {
        font-size: $i+rem;
        color: $text-gray;
        font-weight: 300;
    }    

}

.article-list {
    background-color: $high-light-gray;
    border-top: 1px solid darken($high-light-gray, 5%);
    border-bottom: 1px solid darken($high-light-gray, 5%);
}

.confirmed-article {
     p {
        margin-bottom: 0;
    }
    .article-info {padding-right:0.3rem;}
    small {
        &.article-tag {
            width:100%;
            text-align: center;
            padding-top:0.1rem;
            color: $high-light-gray;
            display: block;
            &.PHP {background-color: #6082BB;}
            &.Other {background-color: $dark-gray;}
            &.html-css {background-color: #E44D26;}
            &.Python {background-color:#FFFBD6 ; color: #3974A4; }
            &.JavaScript {background-color: #F9DC3C; color: #222;}
            &.Java {background-color: #FF2403;}
        }
        &.article-author {font-weight: bold;}
    }
}

.address-area {

    background-color: $high-light-gray;
}

#map {
    min-height: 200px;
}

// Footer Style 
.skyline {
    background-color: $high-light-gray;
    margin: 0;
}

.coderconf-reg-list {
    text-align: right;
    img {margin: 1px;}
}

    @mixin soical-icon($tb-background, $icon-width-height: 48px, $icon-font-size: 2rem) {
        background-color:$tb-background;
        color: #FFF;
        display: inline-block;
        width: $icon-width-height;
        height: $icon-width-height;
        padding:$icon-width-height/6;
        font-size:$icon-font-size;
        margin: 0 $icon-font-size/4 0 0;
        &:hover {background-color:lighten($tb-background, 10);}
    }




footer {
    background-color: #065063;
    color: $fullwidth-background;

    h3 {font-size:1.2rem;}

    a.socicon[href*="https://facebook.com"] {@include soical-icon(#505BFF);}
    a.socicon[href*="https://twitter.com"] {@include soical-icon(#77C7F7);}
    a.socicon[href*="https://telegram.me"] {@include soical-icon(#50B7FF);}
    a.socicon[href*="https://instagram.com"] {@include soical-icon(#FD0069);}
    a.socicon[href*="https://github.com"] {@include soical-icon(#FF7E34);}
    a.socicon[href*="http://www.google.com"] {@include soical-icon(#F6102F);}
    a.socicon[href*="tel:"] {
        @include soical-icon(#517983);
        img {vertical-align: initial;}
    }


    .copy-right {
        background-color: darken(#065063, 10%);
        font-weight: 300;
        font-size: 0.7rem;
        a {
            color: $color-green;
            &:hover {color: lighten($color-green, 10%);}
        }
    }

}



$timeline: #FEFEFE;
$timeline-workshop: #F3F3ED;
$timeline-network: #BFE9D5;

div.chronolgy {
      width: 800px;
  min-width: 800px;
  margin: 2rem auto 0 auto;

}



ul#chronolgy {
  position: relative;
  list-style: none;
  margin:0;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background: #3385bd;
    }
    .time {
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        background: white;
        border: 1px solid #3385bd;
        text-align: center;
        line-height: 4rem;
        color: #3385bd;
        font-weight: bold;
        margin: 0 auto 1rem;
        font-size: 0.7rem;
        position: relative;
        &:nth-last-child(1) {
          letter-spacing: 0px;
          margin-bottom: 0px;
          font-size: 1.5rem;
        }
    }
    .clear {
      height: 25px;
      float: none;
      clear: both;
    }
}

ul#chronolgy li {
  position: relative;
  width: 360px;
  background: $timeline;
  vertical-align: middle;
  border-radius: 3px;
  margin-bottom: 30px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 10px;
  color: #222;
  vertical-align: middle;
  text-align: right;
    div.location {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: #f3f3f3;
        font-size: 0.7rem;
        color: #333;
        padding: 0 0.3rem;
    }    
    div.minute {
        position: absolute;
        bottom: -25px;
        right: 0px;
        background: #dadada;
        font-size: 0.7rem;
        font-weight: bold;
        color: #444;
        padding: 0 0.3rem;
    }
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      a.socicon[href*="linkedin.com"] {@include soical-icon(#1B86BC, 18px, 0.7rem);}
      a.socicon[href*="twitter.com"] {@include soical-icon(#00aced, 18px, 0.7rem);}
      a.socicon[href*="github.com"] {@include soical-icon(#FF7E34, 18px, 0.7rem);}
      a.socicon[href*="github.com"] {@include soical-icon(#FF7E34, 18px, 0.7rem);}
    }

    &:after {
      content: '';
      left: -47px;
      top: 18px;
      width: 15px;
      height: 15px;
      border: 2px solid #3385bd;
      background: #ffda20;
      position: absolute;
      border-radius: 50%;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -webkit-animation: bounceIn 500ms 700ms forwards;
      animation: bounceIn 500ms 700ms forwards;
    }
    &:hover:after {
      background: #3385bd;
    }
    
    &:before {
          content: '';
          position: absolute;
          top: 15px;
          left: -12px;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-top-width: 10px;
          border-bottom-width: 10px;
          border-right: 12px solid $timeline;
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
    }

    @mixin goleft-panel($timeline-color) {

        float: left;
        clear: left;
        -webkit-animation: fadeInRight 750ms;
        animation: fadeInRight 750ms;
        background: $timeline-color;
        &:before {
          top: 15px;
          content: '';
          position: absolute;
          right: -12px;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-bottom-width: 10px;
          border-top-width: 10px;
          border-left: 12px solid $timeline-color;
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
         }
         &:after {
          right: -47px;
          top: 18px;
         }
    }


    &.workshop {
        @include goleft-panel($timeline-workshop);
    }
    &.network {
        @include goleft-panel($timeline-network);
    }

}



@media only screen and (max-width: 799px) {
  div.chronolgy {
    width: inherit;
    min-width: initial;
    margin: 2rem auto 0 auto;
  }
  ul#chronolgy:before {
    right: 40px;
  }
  ul#chronolgy .time {
    margin: 10px;
  }

  ul#chronolgy li {
    float: right!important;
    clear: right!important;
    -webkit-animation: fadeInRight 750ms!important;
    animation: fadeInRight 750ms!important;
    margin-right: 70px;
    width: 80%;
    &:after {
    right: -35px!important;
    }
    .minute:before {display: none;}

    &:nth-of-type(n):before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: -12px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left: 12px solid $timeline;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    }
    &.workshop:nth-of-type(n):before {border-left: 12px solid $timeline-workshop !important; border-right:none;}
    &.network:nth-of-type(n):before {border-left: 12px solid $timeline-network !important; border-right:none;}

  }

}