@font-face {
    font-family: 'IRANSans-web';
        src: url('../fonts/IRANSans/IRANSansWeb_Bold.eot');
        src: url('../fonts/IRANSans/IRANSansWeb_Bold.eot?#iefix') format('eot'),  /* IE6–8 */
             url('../fonts/IRANSans/IRANSansWeb_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
             url('../fonts/IRANSans/IRANSansWeb_Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             font-weight: bold;
}

@font-face {
    font-family: 'IRANSans-web';
        src: url('../fonts/IRANSans/IRANSansWeb_UltraLight.eot');
        src: url('../fonts/IRANSans/IRANSansWeb_UltraLight.eot?#iefix') format('eot'),  /* IE6–8 */
             url('../fonts/IRANSans/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
             url('../fonts/IRANSans/IRANSansWeb_UltraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             font-weight: 200;
}