
<div class="expanded row ">
  <div class="large-12 article-list padding-tb-2">
    <h2 class="text-center">لیست خلاصه مقاله‌های تایید شده</h2>
    <p class="text-center  padding-b-2">مقاله‌های تائید شده در کتابچه همایش منتشر می‌شود و همچنین مقاله‌های برتر توسط نویسنده در روز همایش ارائه خواهد شد.</p>
    <div class="row">
      <div class="large-6 columns">
        <table class="hover">
          <tr>
            <td class="ltrr">OSL (Offensive Security Layer)</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>تبادل امن اطلاعات محرمانه</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>ابزارهای اینترنتی مبتنی بر پایتون در آموزش کنترل</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>پایتون برای داده‌های کلان</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>استفاده از docker برای جداسازی سرویس‌ها</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>Massive Large Scale Crawling using Scrapy</td>
            <td>Python</td>
          </tr>
          <tr>
            <td>phpDocumentor و مستندسازی در PHP</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>هفت نشانه شی گرایی (هفت دلیل برای شناخت درست شی گرایی)</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>استفاده از شبکه عصبی مصنوعی (یادگیری ماشین) در PHP</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>Swoole - PHP Extension</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>PHP Design Pattern</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>ضد الگوها و مدل ضعف</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>چگونه نرم افزار سازمانی تحت وب بنویسیم ؟</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>لاراول محبوب‌تر از همیشه</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>راه‌های حفاظت از سورس کدهای PHP</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>مقایسه فریم ورک های Laravel و Phalcon</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>خودکارسازی بررسی نفوذپذیری نرم‌افزارهای تحت فریم ورک zend در برابر حمله XSS به وسیله codeception</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>in-memory Caching by Redis</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>مایکروسرویس ها و معرفی Zend Expressive</td>
            <td>PHP</td>
          </tr>
          <tr>
            <td>Microservices</td>
            <td>Java</td>
          </tr>
          <tr>
            <td>معرفی جاوا و دوستانش و رابطه جاوا با مهندسی نرم افزار و چرا نباید از آن استفاده کرد؟</td>
            <td>Java</td>
          </tr>
          <tr>
            <td>طراحی دیتابیس با کارایی بالا با استفاده از NodeJs</td>
            <td>Node.js</td>
          </tr>
          <tr>
            <td>توسعه و خلق یک پروژه: معماری، طراحی، معماری</td>
            <td>Node.js</td>
          </tr>
          <tr>
            <td>Meteor</td>
            <td>Node.js</td>
          </tr>

        </table>
      </div>
      <div class="large-6 columns">
        <table class="hover">
          <tr>
            <td>استفاده از CSS counters برای استایل المان‌های افزایشی مانند لیست li</td>
            <td>HTML,CSS</td>
          </tr>
          <tr>
            <td>فریم‌وورک متن‌باز جغد</td>
            <td>HTML,CSS</td>
          </tr>
          <tr>
            <td>متدولوژی‌های توسعه فرانت‌اند</td>
            <td>HTML,CSS</td>
          </tr>
          <tr>
            <td>گذشته، حال و آینده CSS Preprocessor‌ و ابزارهای خودکار سازی</td>
            <td>HTML,CSS</td>
          </tr>
          <tr>
            <td>JavaScript of Today</td>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>الکترون، فرمورکی برای تمامی پلتفرم‌ها</td>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>مهاجرت به AngularJs 2 : انگولار 2 هنوز انگولار هست اما "بهتر"</td>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>استفاده از قدرت انگولار در توسعه پلاگین های وردپرس</td>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>نگاهی‌ متفاوت به ابزارها و فریم ورک های توسعه وب</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>موتورهای پیشنهاد دهنده</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>ضرورت آموزش برنامه نویسی به کودکان</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>انتخاب وب سرور مناسب</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>Virtual Reality on Web</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>JSON API</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>از پشت مو و کاکل تا طراحی فلت</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>یک صفحه‌ی مدیریتی برای استریسک با Backbonejs</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>معماری REST</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>راهنمای ایجاد یک درگاه پرداخت در دروپال ۸ برای توسعه دهندگان</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>apx تجربه کاربری در ایجاد رابط برنامه نویسی کاربردی</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>اشتباهات رایج برنامه نویسان و توسعه دهندگان</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>تحقیق و بررسی استفاده از فرمت تصویری SVG</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>استفاده از خروجی برنامه‌های مبتنی بر وب، به جهت خودکارسازی فرآیند تحلیل پردازش سمت سرور</td>
            <td>Other</td>
          </tr>
          <tr>
            <td>The First Interactive Programming Learning Platform for Persian-speaking Users</td>
            <td>Other</td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>