<div class="expanded row padding-tb-3">
     <div class="large-10 large-centered medium-10 medium-centered columns text-center block-header padding-b-1" >
       <h2>لیست شرکت‌کننده‌ها</h2>
       <p>برای ثبت نام فقط تا ۲۰ مرداد فرصت دارید.
       </p>
       <div id="coderconf-reg" class="coderconf-reg-list">
           <img src="">
       </div>
       <br>تا کنون از شهر‌های تهران، کرج، تبریز، بندرانزلی، اصفهان، بوکان، همدان، بوشهر، کرمان، قم، ساوه، زنجان، رشت، مشهد، قروه، سنندج، شهریار، بوشهر و نیشابور در Coder Conf ثبت‌نام شده است.
       <br><br><br>برای نمایش آواتار خود می‌توانید در <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> ثبت نام کنید.
     </div>
</div>