
<div class="expanded row padding-tb-3">
     <div class="large-10 large-centered medium-10 medium-centered columns text-center block-header padding-b-1" >
       <h2>لیست شرکت‌کننده‌ها</h2>
       <p>برای ثبت نام فقط تا ۲۳ مرداد فرصت دارید.
       </p>
       <div id="coderconf-reg" class="coderconf-reg-list">
           <img src="">
       </div>
       <br>تا کنون از شهر‌های تهران، کرج، تبریز، بندرانزلی، اصفهان، بوکان، همدان، بوشهر، کرمان، قم، ساوه، زنجان، رشت، مشهد، قروه، سنندج، اردبیل، اهواز، پرند ،قائن، شهریار و نیشابور در Coder Conf ثبت‌نام شده است.
       <br><br><br>برای نمایش آواتار خود می‌توانید در <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> ثبت نام کنید.
     </div>
</div>


<div class="expanded row">
  
  <div class="large-12 large-centered medium-12 medium-centered columns text-center block-header padding-b-1" >

       <div class="row">
         <div class="medium-6 columns">
          <h3>همایش CoderConf بعدی</h3>
            <p>با توجه به اینکه همایش بعدی CoderConf حدود ۴ ماه بعد برگزار می‌شود، لطفا با شرکت در نظر سنجی ما را در برگزاری همایش بعدی همراهی کنید.</p>
            <p class="font-bold">به سه نفر از افرادی که تا ۲۸ مرداد در این نظرسنجی شرکت کنند، در اختتامیه همایش به قید قرعه جایزه تعلق می‌گیرد.</p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSet3aePMbPrIU0uScdBjrkNSjfVUdAue3T-AvmmtLdgINFG5w/viewform" class="font-bold button success">برای شرکت در نظرسنجی اینجا کلیک کنید</a> </p>
         </div>
         <div class="medium-6 columns" >
          <script type="text/javascript" src="//app.mailerlite.com/data/webforms/142709/d3b2j0.js?v3"></script>

         </div>
       </div>
  </div>


 </div>
