<div class="expanded row sub-footer padding-b-3" id="conf-panel">
  <svg class="conf-panel before" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
  </svg>

     <div class="large-12 columns text-center padding-b-1" >
       <h2>برنامه همایش</h2>
       <div class="row">
          <div class="large-12 columns ">
            <div class="chronolgy">

              <ul id='chronolgy'>
                  <div class="time">ساعت ۸</div>
                  <li>
                    <div class="location"><strong>محل:</strong> لابی مجتمع</div>
                    <h1>پذیرش</h1>
                    <p>
                      پذیرش به همراه پذیرایی صبحانه.
                    </p>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>افتتاحیه</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۱۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>استفاده از CSS counters برای استایل المان های افزایشی مانند لیست li </h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/f399e25d0e4af6b595ea38fa37b42dc5?s=80&d=mm" alt="میثم زندی" title="میثم زندی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">میثم زندی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۴۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>شرکت رهنما</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>ضرورت آموزش برنامه نویسی به کودکان</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/6b84fb0725f030e618bba6c7aa2db675?s=80&d=mm" alt="بهزاد مرادی" title="بهزاد مرادی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">بهزاد مرادی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۰ دقیقه</div>
                    <h1>از کد تا کسب و کار</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/000000?s=80&d=mm" alt="پویا رجامند" title="پویا رجامند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">پویا رجامند</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۳۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۰ دقیقه</div>
                    <h1>کلیک یاب و تکنولوژی</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/f6c5947ff77ff642f370d78017cf04fc?s=80&d=mm" alt="فرود غفوری" title="فرود غفوری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">فرود غفوری</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۴۰</div>
                  <li class="network">
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>استراحت</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>PSR-7 و middleware-ها و معرفی Zend Expressive</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/0c12a649e9996053c8a0951aa824452b?s=80&d=mm" alt="میلاد عربی" title="میلاد عربی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">میلاد عربی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۵۰ دقیقه</div>
                    <h1>کارگاه pyotherside</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/11db901e4c84a8017c6ed9aaaa2b70b8?s=80&d=mm" alt="دانیال بهزادی" title="دانیال بهزادی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">دانیال بهزادی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۱:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>استفاده از شبکه عصبی مصنوعی (یادگیری ماشین)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/b30bd1b9c9f141b79f76d7846337bdb0?s=80&d=mm" alt="علا عالم فلکی" title="علا عالم فلکی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علا عالم فلکی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۱:۴۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>in-memory Caching by Redis</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/1d74741e8236609487a3aa0f22b3921b?s=80&d=mm" alt="محمدرضا گلستان" title="محمدرضا گلستان"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمدرضا گلستان</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location adasds"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۵۰ دقیقه</div>
                    <h1>کارگاه IoT (اینترنت چیزها)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/90c37ce33a1ddbd6b3e9456c1cf99e18?s=80&d=mm" alt="علی خاندانی" title="علی خاندانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی خاندانی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۲:۱۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>لاراول محبوب تر از همیشه</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/cefb1e7635945e8723d7b37db461295e?s=80&d=mm" alt="محمد گیتی پسند" title="محمد گیتی پسند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمد گیتی پسند</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۲:۳۵</div>
                  <li class="network">
                    <div class="minute">۴۵ دقیقه</div>
                    <h1>نهار</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۳:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>ابزارهای اینترنتی مبتنی بر پایتون در آموزش کنترل</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/683f1a0b5ac4c637e420e680bd791909?s=80&d=mm" alt="صالح خواجه دلویی" title="صالح خواجه دلویی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">صالح خواجه دلویی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۵۰ دقیقه</div>
                    <h1>گارکاه فریم ورک فاندیشن (ساخت سایت همایش)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/66301fdf101f6c1b3ed0543138a7cd9e?s=80&d=mm" alt="پیام صادری" title="پیام صادری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">پیام صادری</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۳:۴۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>تاریک و روشنی ها در جاوا</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/3c7995666f74909e1a98e0d2a24b1f94?s=80&d=mm" alt="امیرحسین جلال حسینی" title="امیرحسین جلال حسینی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">امیرحسین جلال حسینی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۱۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>JavaScript of Today</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/e78a6074533496ae57c01179e322aad8?s=80&d=mm" alt="محمد جهانی" title="محمد جهانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمد جهانی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۳۵</div>
                  <li class="network">
                    <div class="minute">۲۰ دقیقه</div>
                    <h1>استراحت</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>متدولوژی‌های توسعه فرانت‌اند</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/e4fa00af8a86c330cdde6d122817ec2c?s=80&d=mm" alt="آرش منطقی" title="آرش منطقی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">آرش منطقی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۵:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کافکا، ابزاری جهت پردازش ‌Big Data</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/00000?s=80&d=mm" alt="علی خندانی" title="علی خندانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی خندانی</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۵:۴۵</div>
                  <li>
    آفر در تبریز تا رسیدن به نواک و چالش‌های آن را برای ما تعریف کرد.

علیرضا: تحصیل در دانشگاه شریف،                 <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>Meta problemهای برنامه نویسی</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/6602cd532672b58446cc83f11c3cab9f?s=80&d=mm" alt="علی ستاری" title="علی ستاری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی ستاری</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۶:۱۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>گفتگو (پنل)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/072eb56c490b5ca6eb1cec4a3c2cb0f3?s=80&d=mm" alt="آرش برهمند" title="آرش برهمند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">آرش برهمند</small>
                        <p>
                          <!-- <a href="https://twitter.com/coderconf" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a> -->
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۷</div>
                  <li class="network">
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <h1>اختتامیه و اهدا جوایز</h1>
                  </li>

                  <div class="clear"></div>
                  <div class="time">پایان</div>
              </ul>
              
            </div>
          </div>
       </div>
     </div>

</div>
<svg class="conf-panel after" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
</svg>
