<div class="expanded row sub-footer padding-b-3" id="conf-panel">
  <svg class="conf-panel before" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
  </svg>

     <div class="large-12 columns text-center padding-b-1" >
       <h2>برنامه همایش</h2>
       <div class="row">
          <div class="large-12 columns ">
            <div class="chronolgy">

              <ul id='chronolgy'>
                  <div class="time">ساعت ۸</div>
                  <li>
                    <div class="location"><strong>محل:</strong> لابی مجتمع</div>
                    <div class="minute">۶۰ دقیقه</div>
                    <h1>پذیرش</h1>
                  </li>
                 
                  <li class="network">
                  	<div class="location"><strong>محل:</strong> طبقه ۱-</div>
                  	<div class="minute">۶۰ دقیقه</div>
                    <h1>پذیرایی صبحانه</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>افتتاحیه</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۱۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>متدولوژی‌های توسعه فرانت‌اند</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/arashManteghi.jpg" alt="آرش منطقی" title="آرش منطقی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">آرش منطقی</small>
                        <p>
                          <a href="https://www.linkedin.com/in/arashmanteghi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۴۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>شرکت رهنما</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/vohooshi.png" width="80" height="80" alt="امیر وهوشی" title="امیر وهوشی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">امیر وهوشی</small>
                        <p>
                          <a href="https://ca.linkedin.com/in/amirvohooshi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۹:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کافکا، ابزاری جهت پردازش ‌Big Data</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/khandani.jpg" alt="علی خاندانی" title="علی خاندانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی خاندانی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/ali-khandani-0498b920" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۰ دقیقه</div>
                    <h1>از کد تا کسب و کار</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/325ecd54723e2a43efba5a75fadfe358?s=80&d=mm" alt="پویا رجامند" title="پویا رجامند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">پویا رجامند</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/pooyarajamand" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۳۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۱۰ دقیقه</div>
                    <h1>کلیک یاب و تکنولوژی</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/ghafoori.jpg" alt="فرود غفوری" title="فرود غفوری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">فرود غفوری</small>
                        <p>
                          <a href="https://github.com/fzerorubigd" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۴۰</div>
                  <li class="network">
                    <div class="minute">۱۵ دقیقه</div>
                    <h1>استراحت</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۰:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>PSR-7 و middleware-ها و معرفی Zend Expressive</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/0c12a649e9996053c8a0951aa824452b?s=80&d=mm" alt="میلاد عربی" title="میلاد عربی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">میلاد عربی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/miladarabi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کارگاه pyotherside - بخش اول</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/DanialBehzadi.jpg" alt="دانیال بهزادی" title="دانیال بهزادی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">دانیال بهزادی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/danialbehzadi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۱:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>استفاده از CSS counters برای استایل</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/zandi.jpg" alt="میثم زندی" title="میثم زندی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">میثم زندی</small>
                        <p>
                          <a href="https://twitter.com/meysamzandy" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کارگاه pyotherside - بخش دوم</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/DanialBehzadi.jpg" alt="دانیال بهزادی" title="دانیال بهزادی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">دانیال بهزادی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/danialbehzadi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۱:۴۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>in-memory Caching by Redis</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/1d74741e8236609487a3aa0f22b3921b?s=80&d=mm" alt="محمدرضا گلستان" title="محمدرضا گلستان"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمدرضا گلستان</small>
                        <p>
                          <a href="https://www.linkedin.com/in/mrezagolestan" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location adasds"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کارگاه IoT (اینترنت چیزها) - بخش اول</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/khandani.jpg" alt="علی خاندانی" title="علی خاندانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی خاندانی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/ali-khandani-0498b920" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۲:۱۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>لاراول محبوب تر از همیشه</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/cefb1e7635945e8723d7b37db461295e?s=80&d=mm" alt="محمد گیتی پسند" title="محمد گیتی پسند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمد گیتی پسند</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/mohammad-gitipasand-005400127" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location adasds"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>کارگاه IoT (اینترنت چیزها) - بخش دوم</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/khandani.jpg" alt="علی خاندانی" title="علی خاندانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی خاندانی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/ali-khandani-0498b920" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۲:۳۵</div>
                  <li class="network">
                    <div class="minute">۴۵ دقیقه</div>
                    <h1>نهار</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۳:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>ابزارهای اینترنتی مبتنی بر پایتون در آموزش کنترل</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/683f1a0b5ac4c637e420e680bd791909?s=80&d=mm" alt="صالح خواجه دلویی" title="صالح خواجه دلویی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">صالح خواجه دلویی</small>
                        <p>
                          <a href="http://ir.linkedin.com/in/skhajedalouei" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>گارکاه فریم ورک فاندیشن (ساخت سایت همایش) - بخش اول</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://saderi.com/me.jpg" width="80" height="80" alt="پیام صادری" title="پیام صادری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">پیام صادری</small>
                        <p>
                          <a href="https://github.com/saderi" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۳:۴۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>تاریک و روشنی ها در جاوا</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/AmirhosseinHosseini.jpg" alt="امیرحسین جلال حسینی" title="امیرحسین جلال حسینی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">امیرحسین جلال حسینی</small>
                        <p>
                          <a href="https://www.linkedin.com/in/amirhossein-hosseini-41685471" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="workshop">
                    <div class="location"><strong>محل:</strong> سالن دوم</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>گارکاه فریم ورک فاندیشن (ساخت سایت همایش) - بخش دوم</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://saderi.com/me.jpg" width="80" height="80" alt="پیام صادری" title="پیام صادری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">پیام صادری</small>
                        <p>
                          <a href="https://github.com/saderi" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۱۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>استفاده از شبکه عصبی مصنوعی (یادگیری ماشین)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/falaki.jpg" alt="علا عالم فلکی" title="علا عالم فلکی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علا عالم فلکی</small>
                        <p>
                          <a href="https://github.com/AlaFalaki" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۳۵</div>
                  <li class="network">
                    <div class="minute">۲۰ دقیقه</div>
                    <h1>استراحت</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۴:۵۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>JavaScript of Today</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/e78a6074533496ae57c01179e322aad8?s=80&d=mm" alt="محمد جهانی" title="محمد جهانی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">محمد جهانی</small>
                        <p>
                          <a href="https://github.com/mamal72" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۵:۲۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>ضرورت آموزش برنامه نویسی به کودکان</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/behzadMoradi.jpg" alt="بهزاد مرادی" title="بهزاد مرادی"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">بهزاد مرادی</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/behzadmoradi" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۵:۴۵</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۴۵ دقیقه</div>
                    <h1>گفتگو (پنل)</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/072eb56c490b5ca6eb1cec4a3c2cb0f3?s=80&d=mm" alt="آرش برهمند" title="آرش برهمند"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">آرش برهمند</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/arash-barahmand-b9b48a48" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row small-collapse medium-collapse large-collapse conf-article">
                      <div class="columns small-2">
                        <img src="{{root}}assets/img/Speaker/ghafoori.jpg" alt="آرش برهمند" title="آرش برهمند"><br><small class="article-author">فرود غفوری</small>
                      </div>
                      <div class="columns small-2 ">
                        <img src="{{root}}assets/img/Speaker/arash_hemmat.jpeg" alt="آرش برهمند" title="آرش برهمند"><br><small class="article-author">آرش همت</small>
                      </div>
                      <div class="columns small-2 end">
                        <img src="{{root}}assets/img/Speaker/SameerRahmani.jpg" alt="آرش برهمند" title="آرش برهمند"><br><small class="article-author">سمیر رحمانی</small>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۶:۳۰</div>
                  <li>
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <div class="minute">۲۵ دقیقه</div>
                    <h1>ابزارها و آماده سازی: خوب، بد، زشت</h1>
                    <div class="row small-collapse medium-collapse large-collapse confirmed-article">
                      <div class="columns small-2">
                        <img src="https://gravatar.com/avatar/6602cd532672b58446cc83f11c3cab9f?s=80&d=mm" alt="علی ستاری" title="علی ستاری"></div>
                      <div class="columns small-10 article-info">
                        <small class="article-author">علی ستاری</small>
                        <p>
                          <a href="https://ir.linkedin.com/in/alisattari" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                  <div class="time">ساعت ۱۶:۵۵</div>
                  <li class="network">
                    <div class="location"><strong>محل:</strong> سالن اصلی</div>
                    <h1>اختتامیه و اهدا جوایز</h1>
                  </li>
                  <div class="clear"></div>
                  <div class="time">پایان</div>
              </ul>
              
            </div>
          </div>
       </div>
     </div>

</div>
<svg class="conf-panel after" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
</svg>
