


<dir class="expanded row text-center skyline">
  <img src="{{root}}assets/img/iran-skyline.png" alt="">
</dir>

<footer class="expanded row">
    <div class="row padding-tb-6 text-center">
        <div class="large-12 end columns">
            <a href="tel:+989123952960" class="socicon" data-animate="fadeInUp"><img src="{{root}}assets/img/tel.png"></a>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01U3qq6mU_DOpc3KCp-AooUg==&amp;c=mNTuyfmu5js18rByH8crPVC1p30lepBgJMTwhaeETgU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501U3qq6mU_DOpc3KCp-AooUg\75\75\46c\75mNTuyfmu5js18rByH8crPVC1p30lepBgJMTwhaeETgU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="info[at]gmail[dot]org" class="socicon" data-animate="fadeInUp" data-animate-delay="100"><i class="icon socicon-mail"></i></a>
            <a href="https://facebook.com/coderconf" target="_blank" class="socicon" data-animate="fadeInUp" data-animate-delay="200"><i class="icon socicon-facebook"></i></a>
            <a href="https://twitter.com/coderconf" target="_blank" class="socicon" data-animate="fadeInUp" data-animate-delay="300"><i class="icon socicon-twitter"></i></a>
            <a href="https://instagram.com/coderconf" target="_blank" class="socicon" data-animate="fadeInUp" data-animate-delay="400"><i class="icon socicon-instagram"></i></a>
            <a href="https://telegram.me/coderconf" target="_blank" class="socicon" data-animate="fadeInUp" data-animate-delay="500"><i class="icon socicon-telegram"></i></a>
            <a href="https://github.com/CoderConf" target="_blank" class="socicon" data-animate="fadeInUp" data-animate-delay="600"><i class="icon socicon-github"></i></a>
            <p class="font-bold padding-t-2" data-animate="fadeInUp" data-animate-delay="700">برای اشاره به همایش با هشتگ coderconf# در شبکه‌های اجتماعی مطلب ارسال کنید.</p>
        </div>
    </div>
    <div class="copy-right padding-tb-1" id="site-end">
        <div class="row">
            <div class="large-12 column text-center">Copyright © 2016 Coder Conf</div>
        </div>
    </div>
</footer>