<div class="expanded row 3" id="conf-panel">
  <svg class="conf-panel before" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
  </svg>
    <div class="row master" data-animate="fadeInUp">
        <div class="large-12 columns">
            <p>در سال ۱۳۹۴ به کمک جمعی از برنامه‌نویسان با تجربه از شهرهای مختلف ایران، تیم برگزار کننده همایش PHP را تشکیل دادیم و در آخرین پنجشنبه مرداد ۹۴ توانستیم اولین همایش PHP ایران را برگزار کنیم.</p>
            <p>پس از گذشت حدود یک سال، با توجه به علاقه و درخواست شرکت‌کننده‌های همایش PHP، تصمیم به ایجاد گردهمایی بزرگ برنامه‌نویسان ایران و برگزاری همایش گسترده‌‌تر برنامه‌نویسی  با نام Coder Conf گرفتیم و از شما دعوت می‌کنیم در این رویداد شرکت نمایید.</p>
            <p class="font-bold">
                دبیر همایش - <a href="https://ir.linkedin.com/in/mirmousavi/en" target="_blank">مصطفی میرموسوی</a>
            </p>
        </div>
    </div>
 </div>
<svg class="conf-panel after" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
</svg>
