<div class="expanded row padding-b-3">
      <h2 class="text-center">حامیان مالی</h2>
      <p class="text-center">جهت حمایت مالی و استفاده از خدمات اسپانسری می‌توانید با شماره <a href="tel:+989123952960">۰۹۱۲۳۹۵۲۹۶۰</a> تماس بگیرید.</p>
      <div class="large-10 large-centered medium-10 medium-centered columns margin-tb-3">
          <div class="row small-up-1 medium-up-3 large-up-3 text-center sponsor" data-animate="fadeInUp" data-animate-delay="300">
              <div class="columns">
                  <a href="http://persiangig.com" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/persiangig.png"></a>
              </div>
              <div class="columns">
                  <a href="http://www.rahnemaco.com/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/rahnemaco.png"></a>
              </div>
              <div class="columns end">
                  <a href="http://rima.host/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/rima.png"></a>
              </div>
          </div>
      </div>


      <hr>
      <h2 class="text-center margin-tb-3">حامیان رسانه‌ای</h2>
      <div class="row small-up-2 medium-up-3 large-up-5 text-center media-sponsor" data-animate="fadeInUp" data-animate-delay="300">
        
        <div class="columns">
            <a href="https://hive.ir" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/hive_ir.png"></a>
        </div>
        <div class="columns">
            <a href="http://barsam.ir/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/barsam-logo.png"></a>
        </div>
        <div class="columns">
            <a href="https://www.sokanacademy.com/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/socan.png"></a>
        </div>
        <div class="columns">
            <a href="https://jadi.net/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/jadi.png"></a>
        </div>
        <div class="columns">
            <a href="http://hamyarwp.com/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/hamyarwp.jpg"></a>
        </div>
        <div class="columns">
            <a href="http://wsschool.org/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/wsschool.png"></a>
        </div>
        <div class="columns">
            <a href="http://www.zoomit.ir/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/zoomit.png"></a>
        </div>
        <div class="columns end">
            <a href="http://www.vajehyab.com/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/vajehyab.png"></a>
        </div>
        <div class="columns end">
            <a href="http://peidad.com/" target="_blank" rel="nofollow"><img src="{{root}}assets/img/Sponser/peidad.png"></a>
        </div>

      </div>
</div>

