{{!-- This is the base layout for your project, and will be used on every page. --}}

<!--
Hello Developer :)

Smart Developer always look at the codes.
If you read this probably you are a web developer Or programmer.

tell me if you see something wrong in code or other thing

Best Regard
Coderconf Team
-->

<!doctype html>
<html dir="rtl" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder Conf</title>
        <meta name="keywords" content="coderconf, coder, phpconf, کودر کانف, همایش, همایش برنامه نویسی, کدر کانف">
        <meta name="description" content="کدرکانف، ​گردهمایی بزرگ برنامه‌نویسان ایران">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Coder Conf">
        <meta property="og:url" content="http://coderconf.org/fa">
        <meta property="og:title" content="کودر کانف">
        <meta property="og:description" content="​گردهمایی بزرگ برنامه‌نویسان ایران">
        <meta property="og:image" content="http://coderconf.org/assets/img/coderconf.jpg">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://coderconf.org/fa">
        <meta name="twitter:domain" content="http://coderconf.org/">
        <meta name="twitter:title" content="کودر کانف">
        <meta name="twitter:description" content="​گردهمایی بزرگ برنامه‌نویسان ایران">
        <meta name="twitter:image" content="http://coderconf.org/assets/img/coderconf.jpg">

        <link rel="apple-touch-fa-precomposed" sizes="180x180" href="{{root}}assets/img/apple-touch-icon.jpg" />
        <link rel="shortcut icon" href="{{root}}assets/img/favicon.jpg" />

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/css/animate.css">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
   
    {{> body}}

    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=fa&amp;region=IR"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBhTq-bkJmTKh7PIm69E8d7zAP11XMB24I&amp;callback=initMap&amp;language=fa&amp;region=IR"></script> -->
    <script src="{{root}}assets/js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57178802-2', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>